.debug .row div{
  min-height: 200px;
  border:1px solid black;
  box-sizing: border-box;
}

.debug section{
  margin-bottom: 100px;
}
/* /DEBuG */

/* RESET - BODY */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

section, footer{
  padding: 70px 0 50px;
}

.margin_h30{
  margin: 30px 0;
}
/* /RESET - BODY */

/* TYPO */
h1{
  font-size: 55px;
}

h2{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0 30px;
}

h5{
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 10px;
}

.pf16 p{
  font-size: 16px;
}

.pf20 p{
  font-size: 20px;
}

h2, h5{
  color: #031c4e;
}

/* /TYPO */


/* COLOR e BACKGROUND */
.c_white{
  color: #fff;
}

.c_lightblue{
  color: #031b4f;
}

.c_grey{

}

.c_lightgrey{

}

.bg_white{
  background-color: #fff;
}

.bg_lightgrey{
  background-color: #f3f5f9;
}
/* /COLOR e BACKGROUND */

/* MIX */
ul{
  list-style: none;
}
ul.list_inline li{
  display: inline-block;
}

ul.list_inline{
  margin: 0;
}

a:hover{
  text-decoration: none;
}

.clearfix:hover{
  content: "";
  display: block;
  clear: both;
}
/* /MIX */

/* BOTTONI */
input.sign_up_btn {
  color: #0065f2;
  font-size: 16px;
  border:none;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
}

nav input.sign_up_btn{
  border: 1px solid #0065f2;
  background-color: inherit;
  font-size: 14px;
}
/* BOTTONI */

/* NAV e LOGO */
.header_nav, .header_logo{
  padding: 20px 0;
  display: inline-block;
  vertical-align: middle;
}

.header_logo img{
  width: 150px;
}

.header_nav{
  width: calc( 100% - 154px )
}

.header_nav > div{
  display: inline-block;
  width: calc( 50% - 2px );
}

.header_nav li{
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
}

.header_nav a{
  color: #031b4f;
}

.header_nav a:hover{
  color: #0065f2;
  text-decoration: none;
}

div.btn_menu_nav{
  display: none;
  font-size: 25px;
}

.btn_menu_nav p{
  color: #3c92fd;
  margin: 0;
}

@media screen and ( max-width: 991px ) {

  .header_nav > div:not(:last-child){
    display: none;
  }

  div.btn_menu_nav{
    display: inline-block;
    width: 100%;
  }
}
/* /NAV e LOGO */

/* HERO */
.hero_bg{
  background-image: url(../img/bg-home-hero5.svg);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.hero_text p{
  font-size: 24px;
  color: white;
}

.hero_form, .hero_form input{
  border-radius: 5px;
}

.hero_form, .hero_text{
  margin: 25px;
  padding: 20px;
}

.hero_form h3{
  font-size: 40px;
}

.hero_form input{
  display: block;
  width: calc( 100% - 20px );
  margin: 20px 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #e5e8ed;
}

.sign_account{
  background-color: #2285fd;
}

.sign_google{
  background-image: url(../img/google-icon.png);
  background-size: 20px 20px;
  background-position: 2px center;
  background-repeat: no-repeat;
  background-color: inherit;
  font-weight: 500;
  box-shadow: 1px 1px 1px lightgrey;
}

@media screen and (max-width: 991px) and (min-width: 768px){
  .hero_form h3{
    font-size: 25px;
  }

  .hero_form input{
    font-size: 14px;
  }

  input.sign_google{
    padding-left: 25px;
  }

}
/* /HERO */

/* /SEZIONE 1 CUSTOMERS STORIES */
.customers_logo li{
  width: calc( ( 100% / 6 ) - 4px );
  padding: 0 10px;
}

.customers_logo li > img{
  width: 100%;
  max-height: 100px;
}

#customers_stories{
  font-weight: 500;
  color: #5b6987;
}

@media screen and (max-width: 768px) {
  .customers_logo li{
    width: calc( 50% - 4px);
    padding: 0 40px;
  }
}
/* /SEZIONE 1 CUSTOMERS STORIES */

/* SEZIONE 2 deploy  */
.container.little_container{
  max-width: 90%;
  margin-top: 20px;
}

.deploy_nav{
  margin: 0 auto;
}

.deploy_list{

  font-size: 16px;
  margin-bottom: 20px;
}

.deploy_list a{
  color: #5b6987;
}

.deploy_list li{
  border: 0;
  border-left: 1px solid #e5e8ed;
  padding: 15px 0 15px 10px;
}

.deploy_list li:hover{
  border-left: 1px solid  #2285fd;
}

.deploy_steps{
  width: calc( 50% - 30px );
  float: left;
  margin: 0 0 25px 30px;
}

@media screen and (max-width:768px) {
  .deploy_steps{
    width: 100%;
    margin-left:0;
  }
}
/* /SEZIONE 2 deploy  */

/* SEZIONE 3 Developers Designed */
.carousel_container{
  max-width: 70%;
  margin: 50px auto;
}

.carousel_top > *{
  display: inline-block;
}

button.arrows_carousel{
  font-size: 30px;
  background-color: inherit;
  width: 5%;
  border: none;
  vertical-align: middle;
}

.carousel_box{
  width: calc( 90% - 7px );
  background-color: white;
  vertical-align: middle;
}

.carousel_bottom{
  width: 100%;
  margin-top: 20px;
}

.carousel_bullets button{
  height: 15px;
  width: 15px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid #3c92fd;
  background-color: inherit;
}

.carousel_bullets button:hover{
  background-color: #3c92fd;
}

@media screen and (max-width: 768px) {
  button.arrows_carousel{
    display: none;
  }

  .carousel_box{
    width: 100%;
  }
}
/* /SEZIONE 3 Developers Designed */

/* SEZIONE 4 FEATURES */
#features img{
  margin-top: 25px;
}
/* /SEZIONE 4 FEATURES */

/* SEZIONE 5 World_service */
section#world_service{
  background: url(../img/bg-map.svg), linear-gradient( #0043b7, #002161);
  background-size: cover;
}

#world_service table tr > *{
  border: 0;
  border-bottom: 1px solid white;
}

#world_service table tr:last-child > *{
  border-bottom: 0;
}

#world_service table{
  margin: 0;
}
#world_service table td{
  color: #8e99b0;
}

#world_service table td a{
  color: #00d7d2;
}
/* /SEZIONE 5 World_service */

/* SEZIONE 6 Developers Loved */
section#get_started{
  background:linear-gradient( #0043b7, #002161);
}

div.carousel_box{
  padding: 30px 20px
}
/* /SEZIONE 6 Developers Loved */

/* FOOTER */
footer#footer_section{
  background-color: #010e28;
}

#footer_section.footer_link li{
  color: #8e99b0;
}

.social_icon i{
  margin-right: 10px;
}

#footer_section .foot_link h6{
  font-size: 16px;
  margin: 20px 0 10px;
  color: #fff;
}

.foot_link a{
  line-height: 25px;
}

.logo_copyright img{
  margin: 10px 0;
}

/* SQUALETTO SAMMY */
.sammy_area{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100%;
}

.sammy_shark{
  float: right;
  background-color: #0043b7;
  border-radius: 5px;
  padding: 10px;
}

.sammy_shark img{
  width: 80px;
}

.sammy_text{
  float: right;
  border-radius: 5px;
  padding: 10px;
  max-width: 500px;
}

.sammy_text > p{
  color: #031b4f;
}

.sammy_says::before{
  color: #fff;
  position: relative;
  top: 10px;
  float: right;
  content: "\25BA";
  right: 3px;
}

@media screen and ( max-width:991px ){
  .sammy_area{
    left: 20px;
  }

  .sammy_says, .sammy_shark, .sammy_says::before{
    float: left;
  }

  .sammy_text{
    max-width: 300px;
  }

  .sammy_says::before{
    content: "\25C4";
    left: 3px;
  }

}

/* /SQUALETTO SAMMY */
/* /FOOTER */
