.debug .row div{
  min-height: 50px;
  border:1px solid black;
  background-color: red;
}
/* /DEBuG */

/* RESET - BODY */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}
/* /RESET - BODY */

/* COLOR e BACKGROUND */
.color_white{
  color: #fff;
}

.color_blue300{
  color: #0065f2;
}

.color_blue700{
 color: #031b4f;
}

.bg_white{
  background-color: #fff;
}

/* /COLOR e BACKGROUND */

/* MIX */
ul.list_inline li{
  display: inline-block;
}

ul.list_inline{
  margin: 0;
}

a{
  color: #0065f2;
}
/* /MIX */

/* NAV e LOGO */
.header_nav > *{
  margin: 20px 0;
}

.header_logo{
  height: 40px;
}

.header_logo img{
  width: auto;
  height: 30px;
  margin-top: 22px;
}

.header_nav > div{
  display: inline-block;
  width: calc( 50% - 2px );
  height: 40px;
}

.header_nav .list_inline > li{
  line-height: 40px;
}

.header_nav li{
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
}

.header_nav a{
  color: #031b4f;
}

.header_nav a:hover{
  color: #0065f2;
  text-decoration: none;
}

a.sign_up_btn {
  color: #0065f2;
  border-color: #0065f2;
}

div.btn_menu_nav{
  display: none;
}

@media screen and ( max-width: 991px ) {

  .header_nav > div:not(:last-child){
    display: none;
  }

  div.btn_menu_nav{
    display: inline-block;
    width: 100%;
    font-size: 30px;
  }
}
/* /NAV e LOGO */

/* HERO */
.hero_bg{
  background-image: url(../img/bg-home-hero5.svg);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.hero_text h1{
  font-size: 55px;
}

.hero_text p{
  font-size: 24px;
}

.hero_form, .hero_form input{
  border-radius: 5px;
}

.hero_form{
  padding: 20px;
}

.hero_form h3{
  font-size: 40px;
  margin: 10px 0;
}

.hero_form input{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #e5e8ed;
}

.sign_account{
  background-color: #0065f2;
}

.sign_google{
  background-image: url(../img/google-icon.png);
  background-size: 30px 30px;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-color: inherit;
  font-weight: 500;
  box-shadow: 1px 1px 1px lightgrey;
}
/* /HERO */

/* /SEZIONE 1 CUSTOMERS STORIES */
section#customers_stories{
  background-color: #f3f5f9;
  padding: 30px 0;
}

.customers_logo li{
  width: calc( ( 100% / 6 ) - 4px );
  padding: 0 10px;
}

.customers_logo li > img{
  width: 100%;
  max-height: 100px;
}

#customers_stories{
  font-weight: 500;
  color: #5b6987;
}

@media screen and (max-width: 768px) {
  .customers_logo li{
    width: calc( 50% - 4px);
    padding: 0 40px;
  }
}
/* /SEZIONE 1 CUSTOMERS STORIES */
