.debug .row div{
  min-height: 50px;
  border:1px solid black;
  box-sizing: border-box;
}

.debug section{
  margin-bottom: 100px;
}
/* /DEBuG */

/* RESET - BODY */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

section{
  padding: 50px 0 50px;
}
.margin_h30{
  margin: 30px 0;
}
/* /RESET - BODY */

/* TYPO */
h1{
  font-size: 55px;
}

h2{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0 30px;
}

h5{
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 10px;
}

.pf16 p{
  font-size: 16px;
}

.pf20 p{
  font-size: 20px;
}

p{
 color: #5b6987;
}

h2, h5{
  color: #031c4e;
}

a{
  color: #3c92fd;
}
/* /TYPO */


/* COLOR e BACKGROUND */
.color_white{
  color: #fff;
}

.color_blue700{
 color: #031b4f;
}

.bg_white{
  background-color: #fff;
}

.bg_lightgrey{
  background-color: #f3f5f9;
}
/* /COLOR e BACKGROUND */

/* MIX */
ul.list_inline li{
  display: inline-block;
}

ul.list_inline{
  margin: 0;
}

a:hover{
  text-decoration: none;
}

.clearfix:hover{
  content: "";
  display: block;
  clear: both;
}
/* /MIX */

/* NAV e LOGO */
.header_nav > *{
  margin: 20px 0;
}

.header_logo{
  height: 40px;
}

.header_logo img{
  width: auto;
  height: 30px;
  margin-top: 22px;
}

.header_nav > div{
  display: inline-block;
  width: calc( 50% - 2px );
  height: 40px;
}

.header_nav .list_inline > li{
  line-height: 40px;
}

.header_nav li{
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
}

.header_nav a{
  color: #031b4f;
}

.header_nav a:hover{
  color: #0065f2;
  text-decoration: none;
}

a.sign_up_btn {
  color: #0065f2;
  border-color: #0065f2;
  font-size: 14px;
}


div.btn_menu_nav{
  display: none;
  font-size: 30px;
}

.btn_menu_nav p{
  color: #3c92fd;
}

@media screen and ( max-width: 991px ) {

  .header_nav > div:not(:last-child){
    display: none;
  }

  div.btn_menu_nav{
    display: inline-block;
    width: 100%;

  }
}
/* /NAV e LOGO */

/* HERO */
.hero_bg{
  background-image: url(../img/bg-home-hero5.svg);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.hero_text p{
  font-size: 24px;
  color: white;
}

.hero_form, .hero_form input{
  border-radius: 5px;
}

.hero_form, .hero_text{
  padding: 20px;
}

.hero_form h3{
  font-size: 40px;
  margin: 10px 0;
}

.hero_form input{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #e5e8ed;
}

.sign_account{
  background-color: #2285fd;
}

.sign_google{
  background-image: url(../img/google-icon.png);
  background-size: 30px 30px;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-color: inherit;
  font-weight: 500;
  box-shadow: 1px 1px 1px lightgrey;
}
/* /HERO */

/* /SEZIONE 1 CUSTOMERS STORIES */
.customers_logo li{
  width: calc( ( 100% / 6 ) - 4px );
  padding: 0 10px;
}

.customers_logo li > img{
  width: 100%;
  max-height: 100px;
}

#customers_stories{
  font-weight: 500;
  color: #5b6987;
}

@media screen and (max-width: 768px) {
  .customers_logo li{
    width: calc( 50% - 4px);
    padding: 0 40px;
  }
}
/* /SEZIONE 1 CUSTOMERS STORIES */

/* SEZIONE 2 deploy  */
.container.little_container{
  max-width: 90%;
  margin-top: 20px;
}

.deploy_nav{
  margin: 0 auto;
}

.deploy_list{
  list-style: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.deploy_list a{
  color: #5b6987;
}

.deploy_list li{
  border: 0;
  border-left: 1px solid #e5e8ed;
  padding: 15px 0 15px 10px;
}

.deploy_list li:hover{
  border-left: 1px solid  #2285fd;
}

.deploy_steps{
  width: calc( 50% - 30px );
  float: left;
  margin: 0 0 25px 30px;
}

@media screen and (max-width:768px) {
  .deploy_steps{
    width: 100%;
    margin-left:0;
  }
}
/* /SEZIONE 2 deploy  */

/* SEZIONE 3 Developers Designed */
.carousel_container{
  max-width: 70%;
  margin: 50px auto;
}

.carousel_top > *{
  display: inline-block;
}

button.arrows_carousel{
  font-size: 30px;
  background-color: inherit;
  width: 5%;
  border: none;
  vertical-align: middle;  
}

.carousel_box{
  width: calc( 90% - 7px );
  background-color: white;
  vertical-align: middle;
}

.carousel_bottom{
  width: 100%;
  margin-top: 20px;
}

.carousel_bullets button{
  height: 15px;
  width: 15px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid #3c92fd;
  background-color: inherit;
}

.carousel_bullets button:hover{
  background-color: #3c92fd;
}

@media screen and (max-width: 768px) {
  button.arrows_carousel{
    display: none;
  }

  .carousel_box{
    width: 100%;
  }
}
/* /SEZIONE 3 Developers Designed */

/* SEZIONE 4 FEATURES */
#features img{
  margin-top: 25px;
}
/* /SEZIONE 4 FEATURES */

/* SEZIONE 5 World_service */
section#world_service{
  background:  url(../img/bg-map.svg), linear-gradient( #0043b7, #002161);
  background-size: cover;
}

#world_service table tr > *{
  border: 0;
  border-bottom: 1px solid white;
}

#world_service table tr:last-child > *{
  border-bottom: 0;
}

#world_service table{
  margin: 0;
}
#world_service table td{
  color: #8e99b0;
}

#world_service table td a{
  color: #00d7d2;
}
/* /SEZIONE 5 World_service */
